.hero-img {
  background-image: url(../images/coffe.jpg);
  height: 90vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero-text-wrap {
  position: absolute;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7rem;
    color: #482ff7;
    text-align: left;
  }

  h3 {
    font-size: 2.5rem;
    color: #9c1de7;
    text-align: right;
    text-shadow: 1px 1px blanchedalmond;
  }
}

@media screen and (max-width: 768px) {
  .hero-text-wrap {
    margin-top: 50%;
    h1 {
      font-size: 4.5rem;
    }

    h3 {
      font-size: 2rem;
      text-align: left;
    }
  }
}
