.cont-nav {
  background-color: #141433;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-family: "Lobster Two", cursive;
  color: #fffff3;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  overflow: hidden;

  a {
    color: #fffff3;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-weight: bold;
    size: 1.2rem;
  }

  li {
    list-style: none;
  }
}

.ham-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0vh;
    top: 10vh;
    font-size: 1.3rem;
    height: 90vh;
    background-color: #141433;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;

    li {
      opacity: 0;
    }
  }

  .ham-menu {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
